.logo {
	animation: fadeIn 5s ease-out;
	width:80%;
	margin-top: 5%;
	margin-bottom: 3%;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

body {
	background: #1a1c20;
	background-image: url("blackandyellow.png");
	background-size:cover;
	text-align: center;
}

.text{
	font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	color:white;
	-webkit-text-stroke: 1px #1a1c20;
}

footer{
	bottom:0px;
	text-align:center;
	width:100%;
	position:fixed;
	font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	color:white;
}

