.logo {
	animation: fadeIn 5s ease-out;
	width:80%;
	margin-top: 5%;
	margin-bottom: 3%;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

body {
	background: #1a1c20;
	background-image: url("blackandyellow.png");
	background-size:cover;
	text-align: center;
	position:relative;
}

.text{
	font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	color:white;
	-webkit-text-stroke: 1px #1a1c20;
}

.lehed {
	font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	display: table;
	table-layout: fixed; /*force equal column width */
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.lehed li {
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}


footer{
	bottom:0px;
	text-align:center;
	width:100%;
	position:fixed;
	font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	color:white;
}

